*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}

.header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.home-image-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.home-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    animation-name: scale;
    animation-duration: 25s;
}

@keyframes scale {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
    perspective: 100rem;
    width: 40vw;
    min-width: 250px;
}

.banner h1{
    opacity: 0;
    font-family: "outfit", sans-serif;
    font-size: calc(5vw + 23px);
    color: white;
    width: 50%;
    line-height: calc(8rem * 1px);
    letter-spacing: .2rem;
    text-shadow: 0.3rem .5rem rgba(0, 0, 0, 0.4);
    animation: moveBanner .5s forwards;
}

.banner p{
    opacity: 0;
    font-family: 'Josefin Slab', serif;
    font-size: 4rem;
    color: white;
    letter-spacing: .1rem;
    margin-bottom: 3rem;
    text-shadow: .3rem .5rem rgba(0, 0, 0, .4);
    animation: moveBanner .7s forwards;
}

.banner button{
    opacity: 0;
    width: 45%;
    min-width: 180px;
    height: 7rem;
    background-color: red;
    border: none;
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-shadow:0 0.2rem 0.4rem rgba(0, 0, 0, .2);
    box-shadow:0 0.3rem 0.5rem rgba(0, 0, 0, .4);
    cursor: pointer;
    animation: moveBanner .9s forwards;
}

@keyframes moveBanner {
    0%{
        transform: translateY(40rem) rotateY(-20deg);
    }
    100%{
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
}

.hamburger-menu{
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    width: 6rem;
    height: 3rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 200;
    
}

.line{
    border-radius: .1rem;
    width: 100%;
    height: .2rem;
    background-color: white;
    box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, .2);
}
/*
.line-1{
    width: 80%;
    margin-bottom: 10px;
    
}

.line-2{
    width: 80%;
    float: right;
    
}*/

.sidebar{
    width: 40rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -40rem;
    background-color: white;
    transition:  right .5s;
}

.change .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}

.menu-item{
    text-align: center;
    margin: 20px;
}

.menu-link{
    font-family: 'Josefin Slab', serif;
    color: #555;
    position: relative;
}

.menu-link::before{
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
.menu-link:hover::before{
    width: 100%;
}
.social-media{
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-media i{
    font-size: 2.2rem;
    margin: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #777;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition-duration: .3s;
}

.social-media i:hover{
    background-color: red;
}