*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}

.header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.home-image-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.home-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    animation-name: scale;
    animation-duration: 25s;
}

@keyframes scale {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
    perspective: 100rem;
    width: 40vw;
    min-width: 250px;
}

.banner h1{
    opacity: 0;
    font-family: "outfit", sans-serif;
    font-size: calc(5vw + 23px);
    color: white;
    width: 50%;
    line-height: calc(8rem * 1px);
    letter-spacing: .2rem;
    text-shadow: 0.3rem .5rem rgba(0, 0, 0, 0.4);
    animation: moveBanner .5s forwards;
}

.banner p{
    opacity: 0;
    font-family: 'Josefin Slab', serif;
    font-size: 4rem;
    color: white;
    letter-spacing: .1rem;
    margin-bottom: 3rem;
    text-shadow: .3rem .5rem rgba(0, 0, 0, .4);
    animation: moveBanner .7s forwards;
}

.banner button{
    opacity: 0;
    width: 45%;
    min-width: 180px;
    height: 7rem;
    background-color: red;
    border: none;
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-shadow:0 0.2rem 0.4rem rgba(0, 0, 0, .2);
    box-shadow:0 0.3rem 0.5rem rgba(0, 0, 0, .4);
    cursor: pointer;
    animation: moveBanner .9s forwards;
}

@keyframes moveBanner {
    0%{
        transform: translateY(40rem) rotateY(-20deg);
    }
    100%{
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
}

.hamburger-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 2;
}

.line{
    border-radius: .1rem;
    width: 100%;
    height: .2rem;
    background-color: white;
    box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, .2);
}